html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url("../website/Starry sky.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-color: #000000;
    text-align: center;
    touch-action: manipulation;
}

/* ========================= */
/* 介面上半部 */
/* ========================= */

.InterfaceWrapper {
    position: relative;
    width: 100%;
}

.imgInterface {
    display: block;
    width: 100%;
}

/* 玩家名稱 */
.player-name {
    position: absolute;
    font-size: clamp(30px, 5vw, 60px);
    top: 15%;
    left: 20%;
    color: black;
}

/* 分數 */
.score {
    position: absolute;
    font-size: clamp(30px, 5vw, 60px);
    top: 23%;
    left: 24%;
    color: black;
}

/* 角色圖 */
.charImg {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 20%;
    z-index: 10;
}

/* ========================= */
/* 控制區 */
/* ========================= */

.Controller {
    position: relative;
    width: 100%;
    margin-top: 5vh;   /* 改成視窗高度 */
}

/* 方向鍵容器 */
.movePad {
    position: relative;
    width: 50vw;           /* 隨畫面寬度 */
    aspect-ratio: 1 / 1;   /* 固定正方形 */
    margin: 0 auto;
}

/* 所有方向鍵 */
.move-btn {
    position: absolute;
    background: transparent;
    border: none;
    padding: 0;
}

.move-btn img {
    width: 100%;
}

/* 方向鍵位置 */
.up {
    width: 30%;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
}

.down {
    width: 30%;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0);
}

.left {
    width: 30%;
    left: 0%;
    top: 50%;
    transform: translate(0, -50%);
}

.right {
    width: 30%;
    right: 0%;
    top: 50%;
    transform: translate(0, -50%);
}

.center {
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ========================= */
/* 左右按鈕 */
/* ========================= */
.stampBtn{
	background: transparent;
	background-color: #000000;
}
.stampBtn img {
    position: absolute;
    top: 70%;
    left: 25%;
    width: 15vw;
}
.shootBtn{
	background: transparent;
	background-color: #000000;
}
.shootBtn img {
    position: absolute;
    top: 70%;
    right: 25%;
    width: 15vw;
}

/* ========================= */
/* 底部 Line 按鈕 */
/* ========================= */

.LineBtn {
	background: transparent;
    position: absolute;
    top: 120%;  
    left: 50%;
    transform: translateX(-50%);
}

.LineBtn img {
    width: 25vw;
}