html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-image: url("../website/Starry sky.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-color: #000000;
	text-align: center;
	touch-action: manipulation;
}

div {
	padding: 0px;
}

img {
	cursor: default;
}

area {
	cursor: pointer;
}

button {
	background: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
}
.InterfaceWrapper{
	position: relative;
	width:100%;
}
.imgInterface {
	display: block;
	width:100%;
}
.player-name {
	position: absolute;
	font-size: 3vw;
	top: 14%;
	left:20%;
	color: black;
}
.score{
	position: absolute;
	font-size: 3vw;
	top:19%;
	left:24%;
	color:black;
}
.charImg {
    position: absolute;   /* 關鍵 */
    top: 10%;        /* 用百分比 */
    right: 5%;      /* 用百分比 */
    width: 20%;      /* 用百分比 */
    z-index: 10;           /* 在上面 */
}


.button-container button {
	margin: 0px 50px 0px;
	padding: 40px 200px 40px;
	font-size: 16px;
}

.button-setting {
	background-image: url("../website/websiteUI_button.png");
	background-size: cover;
	border-radius: 20px;
}

.color-but {
	border: 1px;
	height: 50px;
	width: 50px;
	cursor: pointer;
}


.movePad {
    position: relative;
    width: 40%;      /* 整個方向鍵大小 */
    height: 80%;
    margin: 0 auto;
}
.move-btn {
    position: absolute;
    background: transparent;
    border: none;
    padding: 0;
}

.move-btn img {
    width:100%;
}
.up {
	width:25%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -170%);
}

.down {
	width:25%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 75%);
}

.left {
	width:25%;
    top: 30%;
    left: 50%;
    transform: translate(-170%, -50%);
}

.right {
	width:25%;
    top: 30%;
    left: 50%;
    transform: translate(75%, -50%);
}

.center {
	width:40%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Controller{
	margin-top: 200px;
	position: relative;
	width: 100%;      /* 整個方向鍵大小 */
    height:100%;
}
.stampBtn img{
	position: absolute;
	top: 40%;
    left: 30%;
	width:10%;
}
.shootBtn img{
	position: absolute;
	top: 40%;
	right:30%;
	width:10%;
}
.LineBtn {
    position: absolute;
    top:65%;          /* 距離底部 */
    left: 50%;           /* 先移到中間 */
    transform: translateX(-50%);  /* 再往左拉回一半 */
}
.LineBtn img {
    width: 20vw;
}