body{
	margin:0px;
	text-align: center;
	background-repeat: no-repeat;
	
}

.backgroundImg{	
	background-image:url("website/Starry sky.jpg");
	background-size: 1920px;
	color:white;
	background-color:#00002F;
	padding: 5px;
    max-width: 1920px;
	height:2500px;
}
.button-container button{
	margin:0px 50px 0px;
	padding:40px 200px 40px;
	font-size: 16px;
}
.button-setting{
	background-image: url("website/websiteUI_button.png");
	background-size: cover;
	border-radius: 20px;
}
.color-but{
	border: 1px;
	height:50px;
	width:50px;
	cursor:pointer;
}

